body {
    padding: 0;
    margin: 0;
    background-color: rgb(32, 57, 73);
    z-index: 1;
}
 .logo-text {
    display: flex;
 }

 .img-logo {
    position: relative;
    bottom: 100px;
    left: 70px;
 }

nav {
    position: relative;
    top: 20px;
    left: 500px;
}

.nav1 {
    display: flex;
    gap: 80px;

    list-style-type: none;

    color: rgb(211, 204, 204);
    font-size: 20px;
    cursor: pointer;
}

#home {
    border-bottom: solid 2px rgb(252, 194, 34);
    color: white;
}

.corpo1 {
    display: flex;
    height: 10px;    

}

.titulos1 {
    white-space: nowrap; 
    
    position: relative;
    left: 130px;
    bottom: 110px;

    font-family: "Protest Strike", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-weight: 900;

    letter-spacing: 1px;
    font-size: 20px;

    color: white;
}

.imagem1 {
    position: relative;
    bottom: 200px;
    right: 500px;
}

.paragrafo-1 {
    position: relative;
    right: 340px;
    text-wrap: wrap;
    letter-spacing: 0.9px;
    color: white;

}

#tam-text {
    position: relative;
    right: 190px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#text-yellow {
    position: relative;
    top: 20px;
    color: rgb(252, 194, 34);
}

.vem-m {
    position: relative;
    top: 10px;
    right: 200px;
    color: rgb(252, 194, 34);
}

.modalcorpo {
    position: relative;
    bottom: 600px;
    width: 600px;
    height: 700px;
    background-color: #ddd;
    color: black;
    display: none;
    animation: animate;
    animation-duration: 800ms;

    border-radius: 10px;
}

.fechar {
    width: 30px;
    height: 30px;
    border: solid black 2px;
    border-radius: 30px;
    float: right;
    color: black;
    cursor: pointer;
}
.xfechar {
    position: relative;
    bottom: 4px;
    left: 6px;
    font-size: 23px;
}

@keyframes animate {
    from{opacity: 1;}
    from{opacity: 0;}
}

.btn button {
    background-color: rgb(252, 194, 34);
    color: black;


    border: 0;
    border-radius: 30px;
    width: 200px;
    height: 40px;

    font-size: 20px;
    font-weight: bold;

}

.modalheader #linha{
    color: black;
    font-size: 26px;
    text-align: center;
    position: relative;
    top: 20px;
    ;
}

.modalheader #textp {
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.painel-geral {
    position: relative;
    top: 26px;
}

.painel-login {
  display: flex; 
  align-content:space-between;
  width: 20px; 
}

.painel-login-ns {
    position: relative;
    top: 70px;
    right: 22px;
}

.painel-login-empresa {
    position: relative;
    top: 80px;
}

#regs {
    position: relative;
    left: 200px;
    top: 10px;
    white-space: nowrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bnt2 button{
    position: relative;
    top: 130px;
    left: 39%;

    background-color: rgb(252, 194, 34);
    border-radius: 10px;
    border: 0;
    width: 130px;
    height: 30px;
    font-size: 15px;
}

#img-logo-modal {
    position: relative;
    top: 20px;
    left: 240px;
    height: 90px;
}